body {
    margin: 0;
}
.header {
    background-color: rgb(3, 243, 3);
    height: 100px;
}
.corpo {
    margin-left: 10px;
}
h1 {
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 25px;
    color: white;
}
img#logo {
    padding: 10px;
    float: left;
}
div#txt {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input#btn {
    margin: 0;
    width: 80px;
    background-color: rgb(3, 243, 3);
    border-color: green;
    border-radius: 7px;
}
input#lbl1, input#lbl2, input#lbl3, input#lbl4{
    border-radius: 7px;
    border-color: green;
    text-align: center;
    outline: none;
}
div#res {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}